.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;

  color: #fff;
  text-decoration: none;

  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: 'Nunito 300';
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: opacity .2s ease-in, transform .2s ease-in;

  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  @media (max-width: 576px) {
    font-size: 13px;
  }
}

.Lg {
  background-image: url('./../../assets/Images/Buttons/link-outline-lg.svg');
}

.Md {
  background-image: url('./../../assets/Images/Buttons/link-outline-md.svg');
}
