.Project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 73px;

  @media (max-width: 1400px) {
    padding: 60px 40px 73px 40px;
  }

  @media (max-width: 576px) {
    padding: 20px;
  }

  &Wrapper {
    width: 100%;
  }

  & .Content {
    max-width: 600px;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }

    & .Link {
      width: 180px;

      transform: translateX(-31px);

      @media (max-width: 1400px) {
        transform: translateX(-15px);
      }

      @media (max-width: 576px) {
        transform: translateX(0);
        font-size: 13px;
      }
    }

    & .Title {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;

      text-align: center;
      font-family: 'Roboto 900 Italic';
      font-size: 52px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      background: -webkit-linear-gradient(345deg, #4895FF 0%, #00FFCE 31.77%, #FF00FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 576px) {
        display: block;
        font-size: 36px;
      }
    }

    & .SubTitle {
      display: block;
      margin-bottom: 30px;

      font-family: 'Nunito 400';
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.02em;

      color: #FFFFFF;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  & .ProjectContainer{
    margin-top: 60px;

    @media (max-width: 576px) {
      margin-top: 30px;
    }
  }
}
