.Services {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0 83px 0;
  position: relative;

  z-index: 2;

  &Wrapper {
    width: 100%;
    background-color: #00110E;

    position: relative;

    overflow: hidden;

    & .Background {
      position: absolute;
      top: 0;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  & .Link {
    width: 207px;
    margin-bottom: 10px;
  }

  & .Title {
    width: 100%;
    margin-bottom: 30px;


    text-align: center;
    font-family: 'Roboto 900 Italic';
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    background: -webkit-linear-gradient(290deg, #4895FF 0%, #00FFCE 31.77%, #FF00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .Decs {
    margin-bottom: 60px;

    color: #FFFFFF;
    font-family: 'Nunito 400';
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.02em;
  }

  & .Slider {
    width: 100%;
    z-index: 2;

    position: relative;

    & .Container {
      overflow: hidden;
    }

    & button {
      background-color: transparent;
      border: 0;

      position: absolute;

      cursor: pointer;
    }

    & .Prev {
      top: 50%;
      left: -80px;
    }

    & .Next {
      top: 50%;
      right: -80px;
    }
  }
}
