.Banner {
  max-width: 1200px;
  margin: 0 auto;

  position: relative;

  &Wrapper {
    width: 100%;


    position: relative;

    overflow: hidden;

    & .BackgroundCircle {

      position: absolute;
      top: 0;
      right: 0;

      z-index: 1;
    }

    & .BackgroundBanner {
      height: 703px;
      width: 721px;

      position: absolute;
      bottom: 0;
      right: 0;

      z-index: 2;
    }
  }

  & .Content {
    padding: 243px 0 193px 0;
    max-width: 572px;
    margin-left: 30px;
    color: #fff;

    position: relative;

    z-index: 4;

    & .Title {
      margin-bottom: 20px;

      & h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 52px;

        line-height: 120%;
        letter-spacing: -0.02em;
      }

      & .TextGradient1 {
        padding-right: 10px;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 900;
        font-size: 52px;

        line-height: 120%;
        letter-spacing: -0.02em;

        background: -webkit-linear-gradient(360deg, #00FFCE 31.77%, #FF00FF 150%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }

      & .TextGradient2 {
        padding-right: 10px;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 900;
        font-size: 52px;

        line-height: 120%;
        letter-spacing: -0.02em;

        background: -webkit-linear-gradient(360deg, #4895FF -30%, #00FFCE 80%, #FF00FF 150%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
    }

    & .SubTitle {
      display: block;
      margin-bottom: 70px;

      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: -0.02em;
    }

    & .Btn {
      display: flex;
      gap: 5px;
      height: fit-content;

      &About {
        width: 200px;
        height: 48px;
        font-size: 16px;
      }

      &Project {
        width: 200px;
        height: 48px;
        line-height: 22px;
      }
    }
  }
}
