.Footer {
  display: flex;
  max-width: 1200px;

  margin: 0 auto;
  padding: 120px;

  z-index: 2;

  &Wrapper {
    width: 100%;

    position: relative;

    & .BackgroundImg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  & .Left {
    display: flex;
    width: 50%;

    & .Logo {
      height: 92px;
      width: 113.75px;
      margin-right: 60px;
    }

    & .Content {
      display: flex;
      flex-direction: column;

      & .Socials {
        display: flex;
        gap: 20px;

        & .Icon {
          height: 28px;
          width: 28px;
          opacity: .7;

          & * {
            transition: stroke .3s ease, fill .3s ease;
          }

          &:hover {
            & * {
              stroke: #00FFCE;
            }
          }
        }
      }

      & .Line {
        height: 1px;
        width: 280px;
        margin: 20px 0;

        background-image: linear-gradient(93.01deg, #4895FF 0%, #00FFCE 31.77%, #FF00FF 100%);;
        opacity: .4;
      }

      & .CopyRight {
        color: #fff;

        font-family: 'Nunito 500 Italic';
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.02em;

        opacity: .7;
      }
    }
  }

  & .Right {
    display: flex;
    width: 50%;
    gap: 100px;

    & .Nav {
      display: flex;
      flex-direction: column;

      &Item {
        white-space: nowrap;
        color: #E8E8E8;
        text-decoration: none;

        font-family: 'Nunito 700 Italic';
        font-size: 16px;
        line-height: 220%;

        transition: color .3s ease;

        &:hover {
          color: #00FFCE;
        }
      }
    }

    & .Location {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &Item {
        display: flex;
        flex-direction: column;
        color: #fff;

        & .Title {
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          & span {
            margin-left: 11px;

            font-family: 'Nunito 500 Italic';
            font-size: 17px;
            line-height: 23px;
            letter-spacing: -0.02em;

            opacity: .7;
          }
        }

        & .Address {
          margin: 0 0 2px 32px;

          font-family: 'Nunito 700 Italic';
          font-size: 16px;
          line-height: 135%;
        }
      }
    }
  }
}
